@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
form{
    text-align: center;
    background-color: rgb(197, 197, 197);
    width: 50%;
    height: 500px;
    padding: 20px 50px;
    margin: 100px auto;
}
form h4{
    font-size: 30px;
    margin-bottom: 50px;
}
.join{
    width: 100%;
    /* height: 30px; */
    padding: 10px;
}
.join input{
    width: 70%;
    padding: 5px ;
    margin-left: 5px;
}
.jointwo button{
    width: 80%;
    height: 30px;
    color: white;
    background-color: rgb(98, 98, 211);
    margin-bottom: 10px;
}
.open button{
    background-color: goldenrod;
    border: none;
    padding: 5px;
    width: 100px;
    float: left;
}